<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699727451241-tee1co40r3g24bl31g5k9npqkdefcv5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699727451241-tee1co40r3g24bl31g5k9npqkdefcv5i</string>
	<key>API_KEY</key>
	<string>AIzaSyDrGx0DUCvzNgaFpduCzXx8EZd_hE2yTXo</string>
	<key>GCM_SENDER_ID</key>
	<string>699727451241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashechat</string>
	<key>PROJECT_ID</key>
	<string>flash-a4228</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-a4228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699727451241:ios:7ae57e86622a87f15a7ef8</string>
</dict>
</plist>